@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

@import "./variables.css";
@import "./background.css";
@import "./content.css";

html {
  overflow-x: initial !important;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  background: var(--very-light-grayish-blue);
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.attribution {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  background: #fff;
  transform: translateY(-50px);
}
